* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Cabin, sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
}

#screen {
    border: 10px solid #CCC;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;

    width: 400px;
    height: 400px;
}

#ranking-container {
    width: 250px;
    height: 400px;

    background-color: rgb(226, 226, 226);
    border-radius: 7px;

    margin-left: 75px;
}

#ranking-title {
    font-size: 30px;
    text-align: center;

    margin: 20px 0 10px;
}

#separator {
    width: 90%;
    height: 1px;
    margin: 0 auto;

    background-color: black;
    opacity: 0.25;
}

#ranking-ul {
    height: 100%;
    padding: 20px 25px;
    list-style: none;
}

#ranking-ul li {
    display: block;
}
